body {
	background-color:lightgrey;	
}

/* ------------------------------------------Les éléments du header------------------------------------------------------ */
header {
	background-color:#a6a6a6;
	height:75px;
	position:relative;
	border:2px solid red;
	border-bottom: 5px solid red;
	z-index:3;
}
header div {
	margin-right: 20px;
	margin-left: 20px;
}


/* Le logo */
#logo {
	width:120px;
	position:relative;
	float:left;
}
#lelogo {
	width: 100%;
}

/* Le titre des pages */
#titre_page {
	position:relative;
	float:left;
	left:10%;
	color:#d8284c;
	font-size:50px;
	font-family:Brush Script MT, Brush Script Std, cursive;
	margin-top: 3px;
}

/* Le bouton d'authentification */
#authentification {
	position:relative;
	float:right;
	width:80px;
	margin: 0px 0px 20px 0px;
	top:5px;
}

#lesids {
	width: 71%;
}


/* Le bouton panier */
#panier {
	position:relative;
	float:right;
	width:80px;
	margin: 0px 0px 5px 0px;
	bottom:18px;
	text-align: center;
}
#lepanier {
	width: 80%;
	position:relative;
	z-index: 3;
}
#total_articles {
	position:relative;
	top: 25px;
	z-index: 4;
	font-weight:bold;
	color : white;	
}
#total_commande {
	position:relative;
	z-index: 4;
	bottom: 17px;
	font-weight:bold;
	background: rgba(255, 255, 255, 0.5);
	padding : 0px 5px 0px 5px;
	border-radius: 10px;
}


/* La barre de recherche */
#recherche {
	position:relative;
	float:right;
	top:21px;
}
#site-search {
	font-size: 15px;
	height :30px;
	border:1px solid red;
}


/* ------------------------------------------La section principale------------------------------------------------------ */
#main {
	margin: 0 3% 0 3%;
	background-color:white;
	z-index:1;
	padding: 1% 0 2% 0;
}

hr {
	width:95%;
	border: 1px solid red;
	clear:both;
	margin: 30px 30px;
}

h3 {
	text-align: center;
}


/* ------------------------------------------Page d'accueil - Partie Nouveautés------------------------------------------------------ */
.carrousel,
.liste_categorie {
	margin: 5px 5% 20px 5%;
	border: 2px solid red;
	border-radius: 20px;
}

/* Les 16 catégories*/
#tableau_image_categorie, #tableau_promotion {
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}
.categs {
	width:24%;
	padding: 10px;
	text-align: center;
	border: 1px solid red;
	border-radius: 5px;
	display:inline-block;
	margin: 3px;
}
.categs img {
	height:200px;
  	opacity: 0.8;	
  	border-radius:5px;
}
.categs img:hover {
	height:200px;
  	opacity: 1;
  	border-radius:5px;
	cursor: pointer;
}
.nomcats {
	color: black;
  	font-weight:bold;
  	font-size: 15px;
  	padding: 8px 12px;
	width: 100%;
	opacity:0.8;
	background-color: white;
	position:relative;
}
.cats {
	border:1px solid black;
}

/* ------------------------------------------Page Catégorie------------------------------------------------------ */

/* La bande centrale de produits */
#bandeau {
	background-color:grey;
	height:100%;
	width:100%;
	left:0px;
	right:0px;
	color:white;
	bottom:auto;
	z-index:2;
	border: 2px solid red;
	top: 0;
	position: sticky;
}
#bande {
	padding:0;
	margin:10px 10px;
	text-align:center;
}
#bande li{
	display:inline-block;
	width:165px;
	margin :5px 1px 5px 1px;
}
#bande a{
	text-decoration:none;
	display:block;
	padding:10px 20px;
	color:black;
	font-family:arial;
	border-radius: 20px;
	background-color: white;
}
#bande li:hover a {
	color:red;
	background-color: white;
	font-weight: bold;
	border:2px solid red;
	cursor: pointer;
}

/* La présentation des différents produits de la catégorie */
#descriptif_cat {
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}

#zonecat {
	clear:both;
	padding:0;
	margin:30px 30px;
	text-align:center;
	position:relative;
}

.un_produit {
	display:inline-block;
	margin : 10px 30px 10px 30px;
	padding:5px 5px 10px 5px;
	border:3px solid red;
	width : 400px;
	height : 340px;
}

.produit {
	border:1px solid black;
	opacity: 1;
	height:250px;
}
.produit:hover {
	border:1px solid red;
	opacity: 0.8;
}

.legend_produit {
	color: black;
  	font-weight:bold;
  	font-size: 15px;
  	padding: 8px 12px;
	width: 100%;
	opacity:0.8;
	background-color: white;
	position:relative;
	text-align: center;
}

#descriptif_prix {
	position : relative;
	float : left;
	font-size: 14px;
	margin-left: 10%;
}

#modul_quantity {
	position : relative;
	float : right;
	margin-right: 10%;
}

.affich_valeur {
	width: 40px;
	text-align: center;
	height:35px;
	border:none;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0);
	color:black;
	font-weight:bold;
	font-size: 20px;
}

.affich_valeur, .bmoins, .bplus {
	visibility: hidden;
}

.bplus {
	visibility: visible;
}


.add-to-cart {
	height: 35px;
	width: 35px;
	background-color: green;
	color:white;
	font-weight:bold;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	vertical-align: middle;

}






/*---------------La fiche produit--------------*/
#fiche_produit {
	display:none;
	border: 2px solid red;
	padding: 2% 0 2% 0;
	margin: 2% auto 2% auto;
	width: 60%;
	height:auto;
}

/* La photo */
#description_produit {
	float: left;
	padding: 0px 5% 0px 5%;
	position:relative;
}

#description_produit img {
	height: 200px;
}
#description_produit img:hover {
	height: 390px;
	width:auto;
	transition: width 1s, height 1s;
	bottom:auto;
}

/* Le texte */
#description_produit2 {
	padding: 0px 5% 0px 5%;
}

#description_produit2 p{
	margin-bottom: 6%;
}

#produit_action {
	margin-top: 8%;
}

#id_prix_produit {
	margin-right: 60px;
}

#produit_action input {
	width: 50px;
}

#produit_action button {
	float:right;
}


/* Le champ de texte en bas de la page Catégorie */
#info_categorie {
    margin-left: 100px;
}


/* L'ancre pour remonter à la fiche produit après clic' */
#ancre1{
	display: block; 
	height: 100px;
	margin-top: -100px;
	visibility: hidden;
}

/* ------------------------------------------Les formulaires d'authentification------------------------------------------------------ */
.form1 {
	font-family:arial;
	border:3px solid red;
	height:100%;
	width:420px;
	background-color:#808080;
	color:white;
	border-radius:30px;
	margin-right:auto;
	margin-left:auto;
	left:35%;
}

#titreformu {
	border:1px solid red;
	background-color:#a6a6a6;
	border-radius:10px;
	padding:5px;
	text-align:center;
	color:black;
}

#formu input {
	border-radius:3px;
	border:8px solid white;
	width:100%;
	margin-bottom:20px;
}

#formu label {
	display: inline-block;
	font-size:16px;
	text-align: center;
	width:520px;
	vertical-align:middle;
	margin-bottom: 10px;
	font-weight: bold;
}

#formu {
	padding-bottom:10px;
	padding-right:40px;
	padding-left:40px;
}

#submit {
	text-align: center;
	border:1px solid red;
	padding: 10px;
	border-radius: 20px;
	font-weight: bold;
}
#submit:hover {
	color: red;
	text-align: center;
	border:1px solid red;
	padding: 10px;
	border-radius: 20px;
	font-weight: bold;
	cursor: pointer;
}

#bouton {
	text-align: center;
}
#captcha {
	text-align: center;
	margin-bottom: 20px;
}

#retour {
	color:black;
	font-size:13px;
	font-weight:bold;
}

#formu2 {
	text-align: center;
	font-weight:bold;
	margin-bottom: 10px;
}

#submit2 {
	text-align: center;
	border:1px solid red;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
	background-color:#808080;
	opacity:0.5;
	color:black;
}
#submit2:hover {
	color: red;
	text-align: center;
	border:1px solid red;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
	background-color:#808080;
	opacity:1;
	cursor: pointer;
	color:black;
}





/* The message box is shown when the user clicks on the password field */
#message {
	display:none;
	background: #f1f1f1;
	color: #000;
	position: relative;
	padding: 20px;
	margin-top: 10px;
  }
  
  #message p {
	padding: 10px 35px;
	font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
	color: green;
  }
  
  .valid:before {
	position: relative;
	left: -35px;
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
	color: red;
  }
  
  .invalid:before {
	position: relative;
	left: -35px;
  }






/* ------------------------------------------------------------Page Qui sommes nous------------------------------------------------------ */
#devanture {
	height:100%;
}

#devanture p {
	text-align: center;
}

#devanture img {
	border: 1px solid black;
}

#devanture #slideshow-container .mySlides{
	height:300px;
	text-align: center;
}

#devanture .dot {
	margin-top:20px;
}


/* ------------------------------------------------------------Page Où nous trouver------------------------------------------------------ */
#iframe {
	position:relative;
	left:50%;
}



/* ------------------------------------------------------------Le slideshow------------------------------------------------------ */
* {box-sizing: border-box;}

body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
#slideshow-container {
  	max-width: 1000px;
  	position: relative;
  	margin: auto;
  	text-align: center;
}

/* Caption text */
.text {
  color: black;
  font-weight:bold;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  opacity:0.5;
  background-color: white;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.slide1 {
	height:200px;
	width:auto;
	border:1px solid black;
}


/* ------------------------------------------------------------Page Panier------------------------------------------------------ */

.imagepanier {
	height: 70px;
}

#supprimer {
	position:relative;
	float:right;
	width:25px;
	margin: 0px 0px 5px 0px;
	top:2px;
}

.content_tab {
text-align:center;
margin:10px;
padding:10px;
}
#tab_panier {
	width: 95%;
	height: 30px;
}
#tab_panier2 {
	width: 82%;
	text-align: center;
	margin-left: 11%;
}

#div_panier {
	height : 200px;
	overflow-y: auto;
	margin: 5%;
}

#commande {
	border : 2px solid red;
}

#tab_panier td {
	border-bottom: 1px solid red;
}


/* ------------------------------------------------------------Page NewsLetter et QuitMailingList----------------------------------------- */

#emplacement_recaptcha {
	border: 3px dotted red;
	width: 400px;
	text-align: center;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
	padding: 10px 10px;
}

#emplacement_recaptcha label {
	font-weight: bold;
}

.butt_capcha #mainCaptcha {
	width:100px;
}

.text_capcha #txtInput {
	width:150px;
}






