/* Les éléments du footer */
footer {
	background-color:grey;
	position: relative;
	height:50px;
	width:100%;
	left:0px;
	right:0px;
	color:white;
	bottom:auto;
	z-index:2;
	border: 2px solid red;
}

/* Les menus */
#menus {
	padding:0;
	margin:0;
	text-align:center;
	margin-top:4px;
}

#menus li{
	display:inline-block;
	margin-right: 15px;
	margin-left: 15px;
}

#menus a{
	text-decoration:none;
	display:block;
	padding:10px 20px;
	color:white;
	font-family:arial;
	border-radius: 20px;
}

#menus li:hover a {
	color:red;
	background-color: white;
}
