/* Les éléments du footer */
footer {
	background-color: rgba(20,32,30,255);
	position: relative;
	color:white;
	z-index:2;
	border-top: 2px solid rgba(216,40,76,255);
}

/* Les menus */

#menus {
	list-style-type: none;
	margin-left:0;
	padding-left:0;
}

#menus a{
	text-decoration:none;
	display:block;
	color:white;
}

#menus li:hover a {
	color:rgba(216,40,76,255);
}


#icon-footer {
	font-size: 25px;
	margin: 10px;
	color: rgba(193,122,61,255) !important;
	height: 30px;
}

#icon-footer:hover {
	font-size: 27px;
	color: rgba(216,40,76,255) !important;
}