# ========== DMZ ============
# IfDefine Free permet de ne cibler que l'instruction pour les serveurs Free.fr
# ========= DMZ =============
<IfDefine Free>
php56 1
#mettre -Indexes pour ne pas authoriser l'affichage du répertoire
Options Indexes
Satisfy Any
ErrorDocument 404 /ressources/pages_erreur/404.html
ErrorDocument 500 "ERREUR !!!"

</IfDefine>

<IfDefine !Free>
#active 1 ou desactive 0 la visibilité des erreurs PHP
php_value display_errors 1
Options Indexes

ErrorDocument 404 /ressources/pages_erreur/404.html
ErrorDocument 500 "ERREUR !!!"
</IfDefine>