# ==========HTACCESS POUR XAMP5628 ============
# IfDefine Free permet de ne cibler que l'instruction pour les serveurs Free.fr
# C:\xampp\apache\bin\htpasswd.exe -c C:\xampp\htdocs\.#secret\.htpass_apache2_2_nonfree francis
# ========= ici on  =============

<IfDefine Free>
php56 1
#renvoie toutes les requetes sur le dossier visible par tous sans auth
RedirectMatch permanent ^/$ /_Jour1/
#mettre -Indexes pour ne pas authoriser l'affichage du répertoire
Options -Indexes
# ERROR PAGE
# https://fr.wikipedia.org/wiki/Liste_des_codes_HTTP
ErrorDocument 404 /ressources/pages_erreur/404.html
ErrorDocument 500 "ERREUR DE CONFIGURATION - VOYEZ L'ADMIN !!!"
ErrorDocument 401 "401 - Accés interdit"
ErrorDocument 403 "403 - Répertoire interdit"

</IfDefine>

<ifDefine !Free>
#serveur de prod
#renvoie toutes les requetes sur le dossier visible par tous sans auth
#RedirectMatch permanent ^/$ /_Jour1/index.html

#mettre -Indexes pour ne pas authoriser l'affichage du répertoire
Options Indexes 
# ERROR PAGE
# https://fr.wikipedia.org/wiki/Liste_des_codes_HTTP
ErrorDocument 404 /ressources/pages_erreur/404.html
ErrorDocument 500 "ERREUR DE CONFIGURATION - VOYEZ L'ADMIN !!!"
ErrorDocument 401 "401 - Accés interdit"
ErrorDocument 403 "403 - Répertoire interdit"
#authentification pour acceder au fichier
</ifDefine>

<ifDefine ree>
#mettre -Indexes pour ne pas authoriser l'affichage du r?pertoire
Options Indexes 
</ifDefine>