# ======================
# IfDefine Free permet de ne cibler que l'instruction pour les serveurs Free.fr
# ======================

<IfDefine Free>
    php56 1
    
    Options -Indexes

    ErrorDocument 404 /ressources/pages_erreur/404.html
    ErrorDocument 500 "ERREUR DE CONFIGURATION - VOYEZ L'ADMIN !!!"
    ErrorDocument 401 "401 - Acces interdit"
    ErrorDocument 403 "403 - Repertoire interdit"
</IfDefine>

# ======================
# IfDefine !Free permet de cibler l'instruction pour les serveurs autres que Free.fr
# ======================

<ifDefine !Free>
    Options -Indexes

    ErrorDocument 404 /ressources/pages_erreur/404.html
    ErrorDocument 500 "ERREUR DE CONFIGURATION - VOYEZ L'ADMIN !!!"
    ErrorDocument 401 "401 - Acces interdit"
    ErrorDocument 403 "403 - Repertoire interdit"

#<Files ajax-test.php>
#   Order allow,deny
#    Deny from all
#</Files>

#<Files ~ "\.(json|rules)$">
#    Order allow,deny
#    Deny from all
#</Files>


#RedirectMatch permanent .github/.* http://localhost:1234/Attable-Xampp/index.html
#RedirectMatch permanent .vscode/.* http://localhost:1234/Attable-Xampp/index.html
#RedirectMatch permanent bootstrap/.* http://localhost:1234/Attable-Xampp/index.html
#RedirectMatch permanent categorie/.* http://localhost:1234/Attable-Xampp/index.html
#RedirectMatch permanent css/.* http://localhost:1234/Attable-Xampp/index.html
#RedirectMatch permanent firebase/.* http://localhost:1234/Attable-Xampp/index.html
#RedirectMatch permanent images/.* http://localhost:1234/Attable-Xampp/index.html
#RedirectMatch permanent js/.* http://localhost:1234/Attable-Xampp/index.html
#RedirectMatch permanent node_modules/.* http://localhost:1234/Attable-Xampp/index.html
#RedirectMatch permanent OriginalJS/.* http://localhost:1234/Attable-Xampp/index.html
#RedirectMatch permanent public/.* http://localhost:1234/Attable-Xampp/index.html



</ifDefine>
